			<article class="panel panel-default">
				<div class="panel-body">
					<p>Id: {{ message.id }}  </p>
				</div>
				<footer class="panel-footer">
					<div class="author">
						<p>Name: {{ message.Name }}</p>	
					</div>
					<div class="author">
						<p>Age: {{ message.Age }}</p>	
					</div>
					<div class="author">
						<p>Gender: {{ message.Gender }}</p>	
					</div>
					<div class="author">
							<p>Mobile Number: {{ message.Mobile_Number }}</p>
					</div>
					<div class="author">
							<button type="submit" class="btn btn-default"><a (click)="onDelete()">Delete</a></button>
					</div>
				</footer>
			</article>